<a href="https://colab.research.google.com/github/FaliaAmalia/Tugas_Damin2403/blob/master/TugasDamin_KMeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import sklearn
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist

In [48]:
from google.colab import files
uploaded = files.upload()

Saving datadamin.csv to datadamin (4).csv

In [50]:
data = pd.read_csv('datadamin.csv')
data.head()

         x          y  jarak_1  jarak_2  jarak_3  type
0  3.08473  117.41190    340.7     0.37     0.58     0
1  3.08695  117.40968    332.3     0.37     0.58     0
2  3.08748  117.41302    341.1     0.37     0.58     0
3 -7.59789  107.98572    329.9     0.54     0.42     0
4 -6.37829  108.39977    333.4     0.40     0.44     3

In [49]:
data_fix = data[['x','y','jarak_1','jarak_2','jarak_3','type']].head(500)
data_fix.head()

         x          y  jarak_1  jarak_2  jarak_3  type
0  3.08473  117.41190    340.7     0.37     0.58     0
1  3.08695  117.40968    332.3     0.37     0.58     0
2  3.08748  117.41302    341.1     0.37     0.58     0
3 -7.59789  107.98572    329.9     0.54     0.42     0
4 -6.37829  108.39977    333.4     0.40     0.44     3

In [34]:
data_fix['type'].value_counts()

1    21
0    18
3     6
2     5
Name: type, dtype: int64

In [0]:
X = data_fix.drop(['type'], axis=1)

In [0]:
distortions = []
K = range (1, 10)
for k in K:
    kmeanModel = KMeans(n_clusters=k).fit(X)
    distortions.append(sum(np.min(cdist(X, kmeanModel.cluster_centers_,'euclidean'),axis=1))/ X.shape[0])

In [37]:
model_kme = KMeans(n_clusters= 2)
model_kme.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [38]:
pred_kme = model_kme.predict(X)
pred_kme

array([1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1], dtype=int32)

In [0]:
data_kme = X.copy()

In [0]:
data_kme['cluster'] = pred_kme

In [41]:
data_kme.head(50)

          x          y  jarak_1  jarak_2  jarak_3  cluster
0   3.08473  117.41190    340.7     0.37     0.58        1
1   3.08695  117.40968    332.3     0.37     0.58        1
2   3.08748  117.41302    341.1     0.37     0.58        1
3  -7.59789  107.98572    329.9     0.54     0.42        1
4  -6.37829  108.39977    333.4     0.40     0.44        1
5  -4.84498  105.76321    329.1     0.45     0.39        1
6  -2.69760  105.94162    331.9     0.48     0.40        1
7  -1.81983  136.75729    297.5     0.40     0.44        0
8   1.49290  127.63287    301.1     0.45     0.63        0
9   1.49851  127.63509    313.0     0.45     0.63        0
10  1.49305  127.63482    329.7     0.45     0.63        1
11  2.77466  125.40942    301.4     0.61     0.53        0
12  1.49864  127.63722    305.8     0.45     0.63        0
13  1.49925  127.63339    300.8     0.45     0.63        0
14  1.49221  127.63698    326.6     0.45     0.63        1
15 -0.96237  117.14960    311.0     0.39     0.36        0
16 -2.58282  121.37788    328.8     0.40     0.44        1
17 -2.57820  121.37476    335.1     0.40     0.44        1
18 -2.57875  121.37843    345.9     0.40     0.44        1
19 -4.94484  105.66041    302.8     0.43     0.62        0
20 -8.11900  112.92774    322.3     0.42     0.38        1
21 -6.01068  105.98296    311.6     0.39     0.59        0
22 -8.11504  112.92519    338.1     0.42     0.38        1
23 -6.01037  105.98263    310.8     0.39     0.59        0
24 -8.34363  115.50969    308.5     0.39     0.36        0
25 -8.13025  112.93159    297.7     0.42     0.38        0
26 -8.11106  112.92245    297.0     0.42     0.38        0
27 -8.34308  115.50619    345.5     0.39     0.36        1
28 -4.93984  105.66535    310.3     0.43     0.62        0
29 -8.34640  115.50568    295.7     0.39     0.36        0
30 -8.11446  112.92161    312.5     0.42     0.38        0
31 -8.12294  112.93020    330.0     0.42     0.38        1
32 -8.12631  112.92916    299.7     0.42     0.38        0
33 -8.11841  112.92416    307.9     0.42     0.38        0
34 -8.12237  112.92669    321.0     0.42     0.38        0
35 -8.12687  112.93256    299.7     0.42     0.38        0
36 -8.13421  112.93413    304.7     0.42     0.38        0
37 -8.20205  119.07504    297.2     0.51     0.41        0
38 -8.19737  119.06956    322.8     0.51     0.41        1
39 -8.19821  119.07526    302.0     0.51     0.41        0
40 -4.93916  105.66146    305.9     0.43     0.62        0
41 -4.94552  105.66432    316.3     0.43     0.62        0
42 -1.88897  124.89825    329.2     0.57     0.52        1
43 -4.31527  122.74323    344.1     0.43     0.62        1
44 -4.31466  122.74739    367.0     0.43     0.62        1
45 -4.31633  122.74328    335.5     0.43     0.62        1
46 -4.36648  122.76192    330.0     0.43     0.62        1
47 -4.31576  122.74742    367.0     0.43     0.62        1
48 -1.70179  123.59261    331.1     0.35     0.56        1
49  1.05791  121.72213    354.9     0.42     0.61        1

In [42]:
data_kme['cluster'].value_counts()

1    25
0    25
Name: cluster, dtype: int64